@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 20px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

li {
  list-style-type: none;
  display: inline;
}

a {
  text-decoration: none;
  color: #7e7a75;
}

.left-links,
.right-links {
  display: flex;
  gap: 16px;
  padding: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 12px;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.footer {
  margin-top: auto; /* margin gets added on top of the footer */
  background-color:#eeeeee;
}
