

div {
    background-color: red;
    color: white;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    
}


p {
    background-color: green;
    color: white;
    font-size: 18px;

}
